@using  DataAccess.Entity;

@model IEnumerable<DataAccess.Repository.UserRepository>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>UserId</td>
        <td>Email</td>
        <td>FullName</td>
    </tr>
@foreach (var item in (List<ContactEntity>)ViewData["contacts"]) {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.UserId
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.FullName
        </td>
    </tr>
}

</table>
